SITE_URL=https://codexworkplace.com
FAL_KEY=
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=
RAILWAY_TOKEN=
SQUIDEX_URL=https://cloud.squidex.io
SQUIDEX_APP=codexworkplace
SQUIDEX_CLIENT_ID=codexworkplace:default
SQUIDEX_CLIENT_SECRET=
